################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Properties
/Conduit.sln
/obj
/.vs/Conduit
/bin/Debug/netcoreapp3.1
/bin/Release/netcoreapp3.1
